@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #D5E1EF ;
    font-family: 'Outfit';
}


.flex-container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 3rem auto 2rem;
            background-color: hsl(0, 0%, 100%);
            border-radius: 20px;
            width: 400px;
            padding: 25px 25px 2rem;
            text-align: center;
}

img{
    width: 100%;
    border-radius: 20px;
}

h2{
    font-weight: 700;
    padding: 20px;
}

p{
    font-weight: 400;
}

  .attribution { 
      font-size: 11px;
      text-align: center;
      
    }

  .attribution a { 
      color: hsl(228, 45%, 44%); 
    }
